	body {
		font: 20px Montserrat, sans-serif;
		line-height: 1.8;
		letter-spacing: 3px;
		color:#131b23
	}
	
	p {
		font-size: 15px;
		letter-spacing: 1px;
	}
	
	h1{
		text-align:center; 
		margin-bottom: 30px; 
		margin-top:40px;
		font-weight: bold;
	}
	
	h2{
		margin-top: 75px;
	}

	h3, h4{
		margin-top:25px;
		font-weight: bold;
	}
	
	footer{
		text-align: center; 
		margin-top: 50px;
	}
	
	.media-glyph{
		padding: 7px;
		font-size:24px;
	}
	
	.media-links{
		color:#131b23;
	}
	
	.bgimg-1{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		background-image: url(desk.jpg);
	}
	
	.color-overlay{
		height:100%;
		width:100%;
		background-color: rgba(19,27,35,0.9);
	}

	.container-fluid{
		padding-left:0px;
		padding-right:0px;
	}

	.navbar {
		padding-top: 15px;
		padding-bottom: 15px;
		border: 0;
		border-radius: 0;
		margin-bottom: 0;
		letter-spacing: 5px;
		background-color: rgba(19,27,35,0.03);
		color:#E9F1F7;
		font-size: 12px;
		width: 100%;
	}
	
	.scrolled {
	
		background-color: rgb(19,27,35);
	
	}
	
	.navbar-nav  li a:hover{
		color: #1abc9c !important;
	}
	
	.media-links:hover{
		color: #1abc9c !important;
	}